{% extends '_base.html' %}

{% load static %}

{% block title %}Message{% endblock title %}

{% block content %}

<div class = 'container-fluid w-75 m-5'>
{% csrf_token %}


<select name='id_select' id = 'user_id'>
    {% for id in user_id %}
    <option value = '{{id}}'>{{id}}</option>
    {% endfor %}
</select>
    <input type = text name = 'message' id = 'message_input'/>
    <button type = 'button' class = 'btn btn-success' id = 'send_message_btn'>Send Message</button>  
    <button type = 'button' class = 'btn btn-success' id ='update_btn'>Start Updating</button>
    <button type = 'button' class = 'btn btn-success' id ='stop_update_btn'>Stop Updating</button>





<div class = 'container'>
<div class = 'h2 mb-3'><span >From</span>: <span id = 'username'></span></div>
</div>

<div id ='user_messages'>
</div>

</div>
{% endblock content %}

{% block extrajs %}
<script src = '{% static "js/sendMessage.js"%}'></script>
{% endblock extrajs %}